
/* For body tag */
body   
       {
            font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
            color: #777;
            background: #777;
            width:960px;
            font-size: 18px;
        }
 
/* For header,nav,footer,section,aside background  */
header, nav, footer , section , aside
       {
            background: #ebebeb;
       }

/* For header, nav , footer tag */
header, nav, footer 
       {
            width: 960px;
            height:80px;
            text-align: center;
            position: relative;
            margin-left: 180px;

       }   

/* For header text */
.hdrh3 
       {
            position: absolute;    
            text-align: center;
            margin: 0;
            top: 50%;
            left: 50%;
            right: -50%;
            transform: translate(-50%, -50%);           
       }


/* For header3 */
.sec1h3
       {
            text-align: center;
       }

/* For Article */
.art1  
       {
            background: #777;
            width:90%;
            height:200px;
            margin-left:20px;
            padding:3px;
            color: #ebebeb;
       }

/* For Division */
.div1  
       {
            width: 90%;
            background: #ebebeb;
            text-align: center;
            height: 50px;
            margin-left:20px;
            padding:3px;
            color: #777;
       }

/* For Paragraph */
.p1    
       {
            width: 90%;
            background: #ebebeb;
            text-align: center;
            height: 30%;
            margin-left:20px;
            margin-top: 5px;
            padding:3px;
            color: #777;
       }

/* For section */
.sec1  
       {
            width: 495px;
            background: #ebebeb;
            height:300px;
            float:left;
            margin-left: 180px;
       }

/* For Aside */
.aside1
       {
            text-align: center;
            background: #ebebeb;
            width: 438px;
            height:300px;
            float:left;
            position: absolute;
            margin-left: 700px; 
   
       }

/* For Footer */
.ft1   
       {
            overflow: auto;
            clear:both;
            text-align: center;
            background-color: #ebebeb;
            margin-left: 180px;
    
       }

/* For Clear Float */
.clearfix::after 
       {
            content: "";
            clear: both;
            display: table;
       }
